{% macro stars(percentage) -%}
<div class="star-rating" title="{{percentage}}%">
    <div class="back-stars">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        <div class="front-stars" style="width: {{percentage}}%">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>
</div>

{%- endmacro %}

{% macro grade_block(grade,threshold=50) -%}

{% set mapping = {"Success": "bg-success", "In Progress": "bg-info", "Failed":"bg-warning"} -%}

{%if grade%}
{%if grade.overall>50%}
{%set status="Success"%}
{%else%}
{%set status="Failed"%}
{%endif%}
{%else%}
{%set status="In Progress"%}
{%endif%}

<span class="badge
{{mapping[status]}}
">{{status}}
    {%if grade%}
    <span class="badge bg-light text-dark ms-2">{{grade.overall}}/100</span>
    <span class="visually-hidden">grade</span></span>
{%endif%}
{%- endmacro %}

{% macro task_card(name, description,repository, grade) -%}
<div class="card">
    <h5 class="card-header d-flex justify-content-between align-items-center">{{name}}
        {{grade_block(grade)}}</h5>
    <div class="card-body">
        <p class="card-text">
            {{description}}
        </p>
        <a href="https://colab.research.google.com/github/{{repository}}"><span class="badge bg-warning text-dark">
                <i class="fas fa-infinity"></i> Open in Colab</span></a>
        <a href="https://www.github.com/{{repository}}"><span class="badge bg-success ms-2 me-5"><i
                    class="fas fa-download fa-lg"></i>
                Download</span></a>
    </div>
    <div class="card-footer text-muted">
        You can either submit your solution directly from Colab or
        <!-- Buttons trigger collapse -->
        <a data-mdb-toggle="collapse" href="#upload" role="button" aria-expanded="false" aria-controls="upload">
            Upload it here
        </a>
        </p>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="upload">
            {{ dropzone.create(id=name, action="/upload/"+name) }}
        </div>
    </div>

</div>
<br>
{%- endmacro %}


{% macro grade_ring(percentage, name="") -%}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 110 110">
    <style>
        svg {
            height: 120px;
        }

        path {
            stroke-linecap: round;
            stroke-width: 2;
        }

        .bottom {
            stroke: lightgrey;
        }
    </style>
    <defs>
        <path id="thePath" d="M40,90
A40,40 0 1,1 70,90" style="fill:none;" />
    </defs>
    <use xlink:href="#thePath" id="base" class="bottom" />
    <use xlink:href="#thePath" id="slider" class="top" style="stroke: {{'#FFA900' if percentage<30 else '#1266F1'}};
            stroke-dasharray: 220;
            stroke-dashoffset: {{220-percentage*2.2}};" />

    <text id="theText" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
        <tspan dy="-0.7em">{{percentage}}%</tspan>
        <tspan dy="1.2em" x="50%">{{name}}</tspan>
    </text>
</svg> {%- endmacro %}
{%macro gradeblock(grade) -%}
{%if grade.overall%}
{{grade_ring(grade.overall, "Overall")}}
{%endif%}
{%if grade.ai%}
{{grade_ring(grade.ai, "AI")}}
{%endif%}
{%if grade.static%}
{{grade_ring(grade.static, "Static")}}
{%endif%}
{%if grade.peer%}
{{grade_ring(grade.peer, "Peer")}}
{%endif%}
{%- endmacro%}