.sidenav {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    z-index: 1031;
    background-color: #fff;
    overflow: hidden;
    width: 240px;
    height: 100vh;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05), 0 2px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05), 0 2px 10px 0 rgba(0, 0, 0, .05)
}

.sidenav[data-hidden=false] {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}


.sidenav-collapse,
.sidenav-menu {
    list-style: none;
    position: relative;
    padding: 0 .2rem;
    margin: 0
}

.sidenav-collapse {
    display: none;
    padding: 0
}

.sidenav-collapse.collapsing,
.sidenav-collapse.show {
    display: block
}

.sidenav-collapse .sidenav-link {
    font-size: .78rem;
    height: 1.5rem;
    padding-left: 3rem
}

.sidenav-item {
    position: relative
}

.sidenav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: .89rem;
    padding: 1rem 1.5rem;
    height: 3rem;
    color: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.sidenav-link:active,
.sidenav-link:focus,
.sidenav-link:hover {
    color: #1266f1;
    background-color: #f6f9fc;
    outline: none
}

.sidenav-link.active {
    color: #1266f1
}

.rotate-icon {
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: .8rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.sidenav-backdrop {
    z-index: 899;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1)
}

.sidenav-light {
    color: hsla(0, 0%, 100%, .6)
}

.sidenav-primary .sidenav-item .sidenav-link:hover,
.sidenav-primary .sidenav-link:active,
.sidenav-primary .sidenav-link:focus {
    color: #1266f1;
    background-color: rgba(18, 102, 241, .05)
}

.sidenav-primary .sidenav-link.active {
    color: #1266f1
}

.sidenav-secondary .sidenav-item .sidenav-link:hover,
.sidenav-secondary .sidenav-link:active,
.sidenav-secondary .sidenav-link:focus {
    color: #b23cfd;
    background-color: rgba(178, 60, 253, .05)
}

.sidenav-secondary .sidenav-link.active {
    color: #b23cfd
}

.sidenav-success .sidenav-item .sidenav-link:hover,
.sidenav-success .sidenav-link:active,
.sidenav-success .sidenav-link:focus {
    color: #00b74a;
    background-color: rgba(0, 183, 74, .05)
}

.sidenav-success .sidenav-link.active {
    color: #00b74a
}

.sidenav-info .sidenav-item .sidenav-link:hover,
.sidenav-info .sidenav-link:active,
.sidenav-info .sidenav-link:focus {
    color: #39c0ed;
    background-color: rgba(57, 192, 237, .05)
}

.sidenav-info .sidenav-link.active {
    color: #39c0ed
}

.sidenav-warning .sidenav-item .sidenav-link:hover,
.sidenav-warning .sidenav-link:active,
.sidenav-warning .sidenav-link:focus {
    color: #ffa900;
    background-color: rgba(255, 169, 0, .05)
}

.sidenav-warning .sidenav-link.active {
    color: #ffa900
}

.sidenav-danger .sidenav-item .sidenav-link:hover,
.sidenav-danger .sidenav-link:active,
.sidenav-danger .sidenav-link:focus {
    color: #f93154;
    background-color: rgba(249, 49, 84, .05)
}

.sidenav-danger .sidenav-link.active {
    color: #f93154
}

.sidenav-light .sidenav-item .sidenav-link:hover,
.sidenav-light .sidenav-link:active,
.sidenav-light .sidenav-link:focus {
    color: #fbfbfb;
    background-color: hsla(0, 0%, 98.4%, .05)
}

.sidenav-light .sidenav-link.active {
    color: #fbfbfb
}

.sidenav-dark .sidenav-item .sidenav-link:hover,
.sidenav-dark .sidenav-link:active,
.sidenav-dark .sidenav-link:focus {
    color: #262626;
    background-color: rgba(38, 38, 38, .05)
}

.sidenav-dark .sidenav-link.active {
    color: #262626
}

.sidenav-white .sidenav-item .sidenav-link:hover,
.sidenav-white .sidenav-link:active,
.sidenav-white .sidenav-link:focus {
    color: #fff;
    background-color: hsla(0, 0%, 100%, .05)
}

.sidenav-white .sidenav-link.active {
    color: #fff
}

.sidenav-black .sidenav-item .sidenav-link:hover,
.sidenav-black .sidenav-link:active,
.sidenav-black .sidenav-link:focus {
    color: #000;
    background-color: rgba(0, 0, 0, .05)
}

.sidenav-black .sidenav-link.active {
    color: #000
}

.pl-3 {
    padding-left: 1rem !important
}

.pr-3 {
    padding-right: 1rem !important
}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 3em;
    justify-content: center;
    margin-top: 50px;
}

.back-stars {
    display: flex;
    color: #E0E0E0;
    position: relative;
}

.front-stars {
    display: flex;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .5s
}


.stepper {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out
}

.stepper:not(.stepper-vertical) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.stepper:not(.stepper-vertical) .stepper-content {
    position: absolute;
    width: 100%;
    padding: 0 1rem
}

.stepper:not(.stepper-vertical) .stepper-step {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 4.5rem
}

.stepper:not(.stepper-vertical) .stepper-step:first-child .stepper-head {
    padding-left: 1.5rem
}

.stepper:not(.stepper-vertical) .stepper-step:last-child .stepper-head {
    padding-right: 1.5rem
}

.stepper:not(.stepper-vertical) .stepper-step:not(:first-child) .stepper-head:before {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    width: 100%;
    margin-right: .5rem;
    content: "";
    background-color: rgba(0, 0, 0, .1)
}

.stepper:not(.stepper-vertical) .stepper-step:not(:last-child) .stepper-head:after {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    width: 100%;
    margin-left: .5rem;
    content: "";
    background-color: rgba(0, 0, 0, .1)
}

.stepper:not(.stepper-vertical) .stepper-head-icon {
    margin: 1.5rem .5rem 1.5rem 0
}

.stepper-vertical .stepper-step {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.stepper-vertical .stepper-step:not(:last-child):after {
    position: absolute;
    left: 2.25rem;
    height: calc(100% - 2.45rem);
    top: 3rem;
    width: 1px;
    margin-top: .5rem;
    content: "";
    background-color: rgba(0, 0, 0, .1)
}

.stepper-vertical .stepper-content {
    overflow: hidden;
    padding: 0 1.5rem 1.5rem 3.75rem;
    -webkit-transition: height .3s ease-in-out, margin-top .3s ease-in-out, margin-bottom .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
    transition: height .3s ease-in-out, margin-top .3s ease-in-out, margin-bottom .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out
}

.stepper-vertical .stepper-content-hide {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 0 !important
}

.stepper-vertical .stepper-head {
    padding: 1.5rem
}

.stepper-vertical .stepper-head-icon {
    margin-right: .75rem
}

.stepper-vertical .stepper-head-text:after {
    position: absolute
}

.stepper.stepper-mobile {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.stepper.stepper-mobile.stepper-progress-bar .stepper-head-icon {
    display: none
}

.stepper.stepper-mobile .stepper-step {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1rem 0
}

.stepper.stepper-mobile .stepper-step:not(:last-child) .stepper-head:after {
    margin-left: 0
}

.stepper.stepper-mobile .stepper-step:not(:first-child) .stepper-head:before {
    margin-right: 0
}

.stepper.stepper-mobile .stepper-step:not(:last-child):not(:first-child) .stepper-head {
    padding-left: .25rem;
    padding-right: .25rem
}

.stepper.stepper-mobile .stepper-head-icon {
    font-size: 0;
    margin: 0;
    height: .5rem;
    width: .5rem;
    z-index: 1
}

.stepper.stepper-mobile .stepper-head-text {
    display: none
}

.stepper.stepper-mobile .stepper-content {
    top: 2.56rem
}

.stepper-form {
    display: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    width: inherit;
    position: inherit
}

.stepper-content {
    left: 0
}

.stepper-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: unset;
    line-height: 1.3;
    cursor: pointer
}

.stepper-head:hover {
    background-color: #dbdbdb
}

.stepper-head:focus {
    outline: none
}

.stepper-head-text:after {
    font-size: .8rem;
    content: attr(data-content)
}

.stepper-head-icon,
.stepper-head-text:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.stepper-head-icon {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: grey;
    border-radius: 100%;
    font-size: .875rem;
    width: 1.5rem;
    height: 1.5rem
}

.stepper-completed .stepper-head-icon {
    background-color: #00b74a
}

.stepper-active .stepper-head-text {
    font-weight: 500
}

.stepper-active .stepper-content {
    display: block
}

.stepper-active .stepper-head-icon {
    background-color: #1266f1
}

.stepper-invalid .stepper-head-icon {
    background-color: #f93154
}

.stepper-disabled .stepper-head {
    color: #858585;
    cursor: default
}

.stepper-disabled .stepper-head-icon {
    background-color: #858585
}

.stepper-mobile-head {
    position: absolute;
    -ms-flex-item-align: normal;
    align-self: normal;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: .5rem 1rem
}

.stepper-mobile-footer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 2.5rem
}

.stepper-back-btn {
    display: block;
    left: 0
}

.stepper-back-btn .btn-link {
    color: unset
}

.stepper-back-btn i {
    margin-right: .5rem
}

.stepper-next-btn {
    display: block;
    right: 0
}

.stepper-next-btn .btn-link {
    color: unset
}

.stepper-next-btn i {
    margin-left: .5rem
}

.stepper-mobile-progress-bar {
    height: .3rem;
    width: 0
}

.stepper-mobile-progress {
    height: .3rem;
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
    background-color: #e0e0e0
}

.pointer {
    cursor: pointer;
}

.select2-container--open {
    z-index: 9999999
}

#sidenav a.active {
    background-color: rgba(38, 38, 38, .05)
}