{% from '_macros.html' import task_card,gradeblock, flash_message with context%}
{% extends "_base.html" %}
{%block custom_css%}
{{ dropzone.load_css() }}
<style>
    .dropzone {
        border: 2px dashed #1266f1;
        min-height: 200px;
    }
</style>
{%endblock custom_css%}

{% block content %}
<main class="container">
    <section class="my-5" id="welcome">
        {{flash_message()}}
        <div class="alert alert-warning" role="alert"><b>Warning:</b> This is a first prototype, bugs and errors might occur frequently </div>
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Hey {{user.username}}!</h1>
                <p class="lead">Welcome to the your Code Assessment. You can start working on your assigments now or see
                    the
                    feedback.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="#assignments" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Start Now</a>
                    <a href='{{session["return_url" if "return_url" in session]}}' type="button" class="btn btn-outline-secondary btn-lg px-4">Go Back</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{{ url_for('static', filename='img/now.jpg') }}" alt="" width="720">
            </div>
        </div>
    </section>

    <section id="assignments">
        <div class="alert alert-primary" role="alert">Use this token for authentication <code id="auth_token">{{user.auth_token}}</code> </div>
        {% if user.assignments %}
            {%for assignment in user.assignments %}
                {{task_card(assignment.title,assignment.description,assignment.github, submissions=assignment.submissions)}}
            {%endfor%}
        {%else%}
            You currently have no assignments
        {% endif %}
    </section>
    <section id="submissions">

        <h4>Your latest submissions and results</h4>
        <div class="list-group">
            {%for sub in user.submissions %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{sub.assignment.title}}</h5>
                </div>
                <p class="mb-1">
                </p>
                {{gradeblock(sub.grade)}}
                <small>{{sub.created|timeago}}</small>
            </div>
            {%endfor%}
        </div>
    </section>
</main>
{%endblock content%}

{% block custom_js %}
{{ dropzone.load_js() }}
{{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }}
{%endblock%}